# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# project specific test files
benchmarks/test/testdata/file/*
benchmarks/test/testdata/scratchpad/*
benchmarks/test/testdata/sync-scratchpad/*
benchmarks/test/testdata/treepad/*
benchmarks/test/testdata/sync-treepad/*
benchmarks/test/testdata/badger/*
benchmarks/test/testdata/bolt/*

# vendors
vendor/*

# storage specific test files
benchmarks/store/file/data/*
benchmarks/store/file/sync-data/*
benchmarks/store/file/bash/database
benchmarks/store/bolt/data/*
benchmarks/store/badger/data/*


# idea
.idea

# Dependency directories (remove the comment below to include it)
# vendor/
